* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.navbar {
    padding: 2rem;
    max-width: 1200px;
}

.nav-link {
    color: chocolate;
}

.active {
    color: white;
    background: chocolate;
}

.active:hover {
    background-color: white;
    color: chocolate;
        border: 1px solid chocolate;
}

.nav-link {
    border-radius: 5px;
}

.nav-link:hover {
    color: white;
    background-color: chocolate;
}

.introduction button a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem 2rem;
}

@media(max-width:762px) {
    .introduction {
        text-align: center;
    }
    .register-main .image {
        display: none;
    }
}

.introduction,
.image {
    padding: 3rem 0;
}

.introduction h1 {
    color: chocolate;
    font-size: 3.5em;
    padding: 1rem 0px;
    font-family: 'Montserrat', sans-serif;
}

.introduction p {
    padding-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.image img {
    width: 100%;
}

.btn {
    background-color: chocolate;
        border-color: chocolate;
}

.btn:hover {
    color: white;
        border-color: chocolate;
        background-color: chocolate;
    opacity: 0.8;
}


/* sign up /register page */

.register-main {
    padding: 3rem 2rem;
}
.register h1 {
    margin-bottom: 8px;
}

.register p {
    color: rgba(0, 0, 0, 0.5);
}

.register p a {
    text-decoration: none;
    color: chocolate;
}

.btn-social {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-top: 18px;
    padding: 5px 0px;
}

.btn-social a {
    text-decoration: none;
    letter-spacing: 1px;
}

.btn-google a {
    color: rgba(0, 0, 0, 0.611);
}

.btn-facebook {
    background-color: rgb(49, 49, 152);
}

.btn-facebook a {
    color: white;
}

.btn-register {
    color: white;
    text-decoration: none;
}

.btn-register:hover .btn {
    color: white;
}

.btn-register:hover,
.btn-register:active {
    background-color: chocolate;
    opacity: 0.9;
}
.search-form input {
    outline: none;
    border: none;
}

.logo-container h1 {
    color: chocolate;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.fa-key {
    color: chocolate;
}

.secret-page-navbar {
    padding: 1rem;
}

main.secret-notes {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.secret-notes form {
    width: 100%;
}

.secret-notes form input,
.secret-notes form textarea {
    border: none;
}

.notepad {
    padding: 30px;
    border: 2px solid black;
    border-radius: 10%;
}

.imported {
    position: relative;
    width: 480px;
    margin: 10px auto 10px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.imported input,
.imported textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

.imported button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: chocolate;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}
.secret-note-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.secret-note{
    background-color: white;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    border-radius: 10px;
    padding: 1rem;
    margin: 20px;
}
.secret-note h1{
    font-size: 1.5em;
    font-weight: 400;
    color: chocolate;
}
.secret-note p{
    font-size: 1em;
    font-weight: 300;
}