<%- include("partials/header"); -%>
    <main class="mx-auto  home-page">
        <div class="introduction">
            <h1>Hide Your Secret</h1>
            <p>Keep your secrets upto you.</p>
            <button class="btn"><a href="/register">Get Started</a></button>
        </div>
        <div class="image">
            <img src="../Images/logo.png" alt="" class="mx-auto">
        </div>
    </main>