<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Hider</title>

    <!-- bootstrap CDN -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Quicksand:wght@600&family=Raleway:wght@500&display=swap" rel="stylesheet">
    <!-- Local css -->
    <link rel="stylesheet" href="../CSS/style.css">

</head>

<body>
    <header>
        <nav class=" d-flex mx-auto justify-content-between align-items-center secret-page-navbar">
            <div class="logo-container">
                <h1><i class="fa-solid fa-key"></i> Secret Hider</h1>
            </div>
            <div class="links-container">
                <ul class="links nav">
                    <li class="nav-item m-sm-3">
                        <form action="/search" method="post" class="form-control d-flex align-items-center search-form">
                            <input type="text" placeholder="Search..." >
                            <button type="submit" class="btn btn-primary">
                                Search
                            </button>
                        </form>
                    </li>
                    <li class="nav-item m-sm-3">
                        <a href="/logout" class="nav-link rounded">Log Out</a>
                    </li>
                    <li class="nav-item m-sm-3">
                        <a href="" class="nav-link rounded"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
   <main class="secret-notes">
      <!-- imported form -->
      <div>
        <form class="imported" action="/post-secret" method="post">
          <input placeholder="Title" name="title"/>
          <textarea
            name="content"
            placeholder="What's Your Secret..." rows="3" required></textarea>
          <button><i class="fas fa-add"></i></button>
        </form>
      </div>
    </main>
      <div class="secret-note-container">
        <% SecretsToRender.forEach(function(item){ %>
            <div class="secret-note">
                <h1><%= item.title %></h1>
                <p><%= item.content%></p>
            </div>
        <%  }); %>
      </div>
   
    <%- include("partials/footer") -%>